/*sass variables used*/

  .bg-img{
    --background: url("../../../assets/img/download.jpg") no-repeat 0 100%/cover;
  }
  ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }

$full:100%;
$auto:0 auto;
$align:center;

@mixin disable{
  outline:none;
  border:none;
}

@mixin easeme{
  -webkit-transition:1s ease;
  -moz-transition:1s ease;
  -o-transition:1s ease;
  -ms-transition:1s ease;
  transition:1s ease;
}

/*site container*/
.wrapper{
  width:80%;
  margin:$auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

h1{
  text-align:$align;
  font:20px;
  color:#FFF;
  text-transform:uppercase; 
  text-shadow:#000 0px 1px 5px;
  margin:20px;
}

p{
  font:12px Open Sans;
  color:rgb(255, 253, 253);
  text-shadow:#000 0px 1px 5px;
  margin-bottom:30px;
  text-align: center;
}
p a{
  color: #edb26b;
  text-decoration: none;
  text-transform: uppercase;
}
.form{
  width:$full;
}

input[type="text"],input[type="email"],input[type="password"]{
  width:100%;
  padding:12px 20px 12px 20px;
  border-radius:10px;
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
	background:rgba(0,0,0,0.2);
  @include disable;
  border:1px solid rgba(0,0,0,1);
  margin-bottom:10px;
  color:#6E6E6E;
  text-shadow:#000 0px 1px 5px;
}

input[type="submit"]{
  width:100%;
  padding:15px;
  border-radius:30px;
  @include disable;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd47d), to(#ffad64));
  background-image: -webkit-linear-gradient(#ffd47d 0%, #ffad64 100%);
  background-image: -moz-linear-gradient(#ffd47d 0%, #ffad64 100%);
  background-image: -o-linear-gradient(#ffd47d 0%, #ffad64 100%);
  background-image: linear-gradient(#ffd47d 0%, #ffad64 100%);
  font:14px Oswald;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  margin:20px 0px 10px;
  opacity:0.9;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
//   border-top:1px solid rgba(255,255,255,0.8)!important;
  // -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

input:focus{
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
  background:rgba(0,0,0,0.3);
  @include easeme;
}

input[type="submit"]:hover{
  opacity:1;
  cursor:pointer;
}

.name-help,.email-help{
  display:none;
  padding:0px;
  margin:0px 0px 15px 0px;
}

.optimize{
  position:fixed;
  right:3%;
  top:0px;
}
.to-register{
  font-size: 13px;
  margin: 20px 0;
}
.social-media-text{
    margin-bottom: 10px;
    font-size: 15px;
}
.btn-social{
  height: 45px;
  width: 45px;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  outline: none;
}

.facebook{
    // background-image: linear-gradient(#7dcfff 0%, #0088fd 100%) !important;
    // background-color: #3b5998;
    color: #3b5998;
}
.google{
    // background-image: linear-gradient(#ff7d7d 0%, #fd0000 100%) !important;
    color: #DB4437;
  }
.twitter{
  color :#00aced;
}
