<ion-content class="bg-img">
  <div class="content wrapper">
    <h4>Register </h4>
    <form class="form">
      <input type="text" class="name" placeholder="Name" name="username" [(ngModel)]="newUserItem.displayName" required>
      <input type="email" class="email" placeholder="Email" name="email" [(ngModel)]="newUserItem.email" #email required>
      <input type="password" class="password" placeholder="password" name="password" #password required>
      <input type="submit" class="submit" value="Register" (click)="register(email,password)" >
      <p>Already have an Account  <a href="login">Login</a></p>
    </form>
  </div>
</ion-content>