
<!-- header -->
<ion-header [translucent]="true" class="header without-statusbar" id="header-drama">
  <ion-grid>
    <ion-row>
      <ion-col size="4" [ngStyle]="{'padding': '0'}">
        <!-- <img src="../../assets/img/logo.png" alt=""> -->
      </ion-col>
      <ion-col size="8" [ngStyle]="{'padding': '0'}">
          <form class="search">
            <input id="search" class="basic-slide" type="text" name="search" placeholder="Search Movie" (click)="SearchModal()"/>
            <label><ion-icon name="search"></ion-icon></label>   
          </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<!-- end header -->

<ion-content [fullscreen]="true" id="content" class="bg-dark" (ionScroll)="onScroll($event)" [scrollEvents]="true">
  
  <!-- refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="ion-refresh">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
  <!-- slider -->
  <ion-slides style="height: auto;" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoadDrama(slider)">
    <ion-slide>
      <div class="slide">
        <img src="http://drive.google.com/uc?export=view&id=19_-FRYMPOGzFPUf0UPqdVCgt-dF-hjow"/>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="http://drive.google.com/uc?export=view&id=1ls9jUVsnPY8nvJk2e4SJiVWappWemxjM"/>
    </ion-slide>

    <ion-slide>
      <img src="http://drive.google.com/uc?export=view&id=19iKX79h9IWMVfGpdys7JlYOpNtFcFe0y"/>
    </ion-slide>

  </ion-slides>
  <!-- end slider -->

  <!-- content  -->
  <div class="content">
    <!-- loader -->
    <div id="loader-drama">
      <div>
      <ion-grid class="grid">
        <ion-row>
          <ion-col size="3" *ngFor="let key of [1,2,3,4]">
            <div class="animate-loader" style="height: 35px;border-radius: 5px;"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="animate-loader" style="height: 20px;border-radius: 5px;margin: 5px;width: 35%;"></div>
          <div class="animate-loader" style="height: 20px;border-radius: 5px;margin: 5px;width: 10%;position: absolute;right: 10px;"></div>
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let key of [1,2,3]">
            <div class="animate-large animate-loader"></div>
            <div class="animate-quality animate-loader-small"></div>
            <div class="animate-rating-duration animate-loader-small"></div>
            <div class="animate-title animate-loader-small"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let key of [1,2,3]">
            <div class="animate-loader" style="height: 60px;border-radius: 5px;margin: 10px 0px;"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="animate-loader" style="height: 20px;border-radius: 5px;margin: 5px;width: 35%;"></div>
          <div class="animate-loader" style="height: 20px;border-radius: 5px;margin: 5px;width: 10%;position: absolute;right: 10px;"></div>
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let key of [1,2,3]">
            <div class="animate-large animate-loader"></div>
            <div class="animate-quality animate-loader-small"></div>
            <div class="animate-rating-duration animate-loader-small"></div>
            <div class="animate-title animate-loader-small"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="animate-loader" style="height: 20px;border-radius: 5px;margin: 5px;width: 35%;"></div>
          <div class="animate-loader" style="height: 20px;border-radius: 5px;margin: 5px;width: 10%;position: absolute;right: 10px;"></div>
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let key of loaderCount">
            <div class="animate-large animate-loader"></div>
            <div class="animate-quality animate-loader-small"></div>
            <div class="animate-rating-duration animate-loader-small"></div>
            <div class="animate-title animate-loader-small"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </div>
    <!-- end loader -->
    
    <div id="category" class="bg-dark">
      <div class="category-body">
        <div class="category-btn-bg">
          <label >
            <span class="category-name dark-color">TV</span>
          </label>
        </div>
        <div class="category-btn-bg">
          <label >
            <span class="category-name dark-color">Anime</span>
          </label>
        </div>
        <div class="category-btn-bg">
          <label >
            <span class="category-name dark-color">Drama</span>
          </label>
        </div>
        <div class="category-btn-bg">
          <label >
            <span class="category-name dark-color">Series</span>
          </label>
        </div>
      </div>
    </div>
    <ion-row>
      <h2 class="content-title">Soon</h2>
    </ion-row>
    <ion-row>
      <div class="content-body">
        <ion-card class="card-body" *ngFor="let item of soon">
          <img src="{{ url_img }}/{{ item.poster_path }}" alt="">
          <span class="movie-info">
            <ion-card-title class="card-title">{{ item.title }}</ion-card-title>
          </span>
        </ion-card>   
      </div>
    </ion-row>
    <div id="category" class="bg-dark">
      <div class="category-body">
        <div class="category-btn">
          <label >
            <span class="category-name dark-color">Newest</span>
          </label>
        </div>
        <div class="category-btn">
          <label >
            <span class="category-name dark-color" (click)="CategoryModal('genre')">Genre</span>
          </label>
        </div>
        <div class="category-btn">
          <label >
            <span class="category-name dark-color" (click)="CategoryModal('country')">Country</span>
          </label>
        </div>
        <div class="category-btn">
          <label >
            <span class="category-name dark-color" (click)="CategoryModal('year')">Years</span>
          </label>
        </div>
      </div>
    </div>
    <ion-row>
      <h2 class="content-title">Now playing</h2>
      <p class="content-title-right" (click)="moviemore('now-playing')" >more</p>
    </ion-row>
    <div id="movie-list">
        <ion-grid class="grid">
          <ion-row id="drama-list-content">
            <ion-col size="4" *ngFor="let item of playNow" (click)="dramaDetail([item.title, item.id])">
              <ion-card class="card-body-grid">
                <div class="rating-duration">
                  <ion-icon name="star" color="warning" class="icon-size-11"></ion-icon>
                  <span class="rating">{{ (item.rating) ? item.rating : '-' }}</span>
                  <ion-icon name="time" color="warning" class="duration icon-size-11"></ion-icon>
                  <span class="rating">{{ (item.runtime) ? item.runtime : '-' }}</span>
                </div>
                <span class="dr-episode">
                  <i>Eps</i>
                  {{ (item.total_episode) }}
                </span>
                <img src="{{ item.poster }}" alt="">
                <span class="movie-info">
                  <ion-card-title class="card-title">{{ item.title }}</ion-card-title>
                </span>
              </ion-card>   
            </ion-col>
          </ion-row>
        </ion-grid>      
      </div>
  </div>
  <!-- end content -->
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataDrama($event,drama_pages)" id="loadDrama">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
