ion-card{
    border-radius: 0px;
    height: auto !important;
}
tr{
    width: 20%;
}
iframe{
    width: 100%;
    display: block;
    padding: 1px 0px;
    border: 0px;
}
#video-play{
    margin-top: 45px;
    display: none;
}
.footer-video{
    background: #39393f;
}
.card-body-grid-img, img{
    height: 100%;
}
.card-body-grid-img{
    height: 560px !important;
}
.movie-info{
    bottom: -12px;
}
.detail-body{
    height: 20px;
    background-color: #151517;
    position: relative;
    top: -5px;
    padding: 10px;
}
.card-title-d{
    top: 65px;
    font-size: 20px;
    left: 15px;
    text-align: left !important;
}
.movie-rating{
    display: -webkit-inline-box;
    display: inline-flex;
    position: absolute;
    margin-right: 15px;
    right: 0px;
    bottom: 110px;
    color: white;
}
.movie-duration-genre{
    display: inline-flex;
    position: absolute;
    bottom: 30px;
    left: 15px;
}
.icon-size-15 {
    font-size: 15px;
}
.rating-detail{
    font-size: 45px;
    padding-left: 5px;
    margin: -7px 0px;
    font-weight: 100;
}
.text-rating{
    margin: 0px 0px 0px 2px;
    color: white;
    font-size: 13px;
}
.duration-detail{
    color: white;
    font-size: 12px;
    margin: 1px;
    font-weight: bold;
}
.like{
    position: absolute;
    right: 15px;
    bottom: 25px;
}
.movie-desc{
    height: 20px;
}
.btn-play{
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    height: 100%;
}
.table-about-movie {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  .table-about-movie td, .table-about-movie th {
    padding: 3px 0px;
  }
  
//   .table-about-movie tr:nth-child(even){background-color: #f2f2f2;}
  
  .table-about-movie tr:hover {background-color: #ddd;}
  
  .table-about-movie th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .box-about-movie{
    margin: 0px -10px 10px;
  }
  .genre-btn-detail{
    background: linear-gradient(to right, #333338 0%, #4a4a52 48%, #595961 100%);
    height: 25px;
    margin: -5px 2px;
    border-radius: 5px;
    padding: 3px 0px;
  }
  .genre-btn-actor{
    background: linear-gradient(to right, #333338 0%, #4a4a52 48%, #595961 100%);
    height: 30px;
    margin: 0px 3px;
    border-radius: 5px;
    padding: 5px 5px;
  }
  .frame-title{
    margin: 0px 0px 5px;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
  }