
  <!-- header -->
  <ion-header >
    <ion-toolbar id="headers" class="header-trans without-statusbar">
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true">
  <!-- end header -->
    <ion-card class="card-body-grid-head card-body-grid-img" id="movie-card">
      <img src="../../assets/img/bg-new.jpg" alt="">
      <div class="img-profile">
        <img id="img-profile" src="{{ (ProfileImg) ? ProfileImg  : UserAuth.photoURL }}" alt="" (click)="changePhoto()">
        <div class="btn-change" (click)="changePhoto()">
          <ion-icon name="share-outline" class="color-second" (click)="changePhoto()"></ion-icon>
        </div>
      </div>
      <div class="movie-info">
        <ion-card-title class="card-title card-title-d">{{ UserAuth.displayName }}</ion-card-title>
      </div>
    </ion-card>
    <super-tabs>
      <super-tabs-toolbar slot="top">
        <super-tab-button>
          <ion-label>About</ion-label>    
        </super-tab-button>
        <super-tab-button>
          <ion-label>History</ion-label>    
        </super-tab-button>
        <super-tab-button>
          <ion-label>Favorite</ion-label>    
        </super-tab-button>
      </super-tabs-toolbar>
      <super-tabs-container>
        <super-tab>
          <ion-content>
            <div class='content'>
              <p id="cancel-seach" slot="start" style="color: #ffffff;margin: 5px 4px;">About me:</p>
              <form action="#" style="max-width:500px;margin: 0px 0px 50px;padding-top:15px;">
                <div class="input-container">
                  <i class="fa fa-user icon"><ion-icon name="person"></ion-icon></i>
                  <input class="input-field" type="text" placeholder="Username" name="username" value="{{ UserAuth.displayName }}" #username required>
                </div>
              
                <div class="input-container">
                  <i class="fa fa-envelope icon"><ion-icon name="mail-unread"></ion-icon></i>
                  <input class="input-field" type="email" placeholder="Email" name="email" value="{{ UserAuth.email }}" #email required>
                </div>
                
                <div class="input-container">
                  <i class="fa fa-key icon"><ion-icon name="lock-open"></ion-icon></i>
                  <input class="input-field" type="password" placeholder="Password" name="password" #password minlength="6">
                </div>
              
                <button type="submit" class="btn" (click)="updateProfile(username,email,password)">Update</button>
                <button type="submit" class="btn btn-logout" (click)="authService.SignOut()">Logout</button>
              </form>
            </div>
          </ion-content>
        </super-tab>
        <super-tab>
          <ion-content>
            <div class='content'>
              <div style="display: flex;">
                <p id="cancel-seach" slot="start" style="color: #ffffff;margin: 5px 4px;">History Watching</p>
                <p *ngIf="HistoryItem" slot="end" style="color: #eb445a;position: absolute;right: 10px;" (click)="DeleteAll('history')">Clear All</p>
              </div>
              <div style="margin: -10px -10px 0px;padding: 10px;" id="loading-history">
                <!-- loader -->
                <ion-row>
                  <ion-col size="4" *ngFor="let key of [1,2,3,4,5,6,7,8,9]">
                    <div class="animate-large animate-loader"></div>
                    <div class="animate-quality animate-loader-small"></div>
                    <div class="animate-rating-duration animate-loader-small"></div>
                    <div class="animate-title animate-loader-small"></div>
                  </ion-col>
                </ion-row>
                <!--end loader -->
              </div>
                <ion-grid class="grid" *ngIf="HistoryItem; else saleitem">
                  <ion-row>
                    <!-- loop data history -->
                    <ion-col size="4" *ngFor="let item of HistoryItem" (press)="onPress(item.movieId)" (click)="movieDetail([item.title, item.movieId])">
                      <ion-card class="card-body-grid">
                        <img src="{{ item.poster }}" alt="">
                        <span class="movie-info">
                          <ion-card-title class="card-title">{{ item.title }}</ion-card-title>
                        </span>
                      </ion-card>   
                    </ion-col>
                    <!--end loop data -->
                  </ion-row>
                </ion-grid>
                <ng-template #saleitem>
                  <div>
                    <p style="width: 100%;text-align: center;padding: 10px;">History not Found</p>
                  </div>
                </ng-template> 
            </div>
          </ion-content>
        </super-tab>
        <super-tab>
          <ion-content>
            <div class='content background-second'>
              <p id="cancel-seach" slot="start" style="color: #ffffff;margin: 5px 4px;">Favorite All</p>
              <div style="margin: -10px -10px 0px;padding: 10px;" id="loading-favorite">
                <ion-row>
                  <ion-col size="4" *ngFor="let key of [1,2,3,4,5,6,7,8,9]">
                    <div class="animate-large animate-loader"></div>
                    <div class="animate-quality animate-loader-small"></div>
                    <div class="animate-rating-duration animate-loader-small"></div>
                    <div class="animate-title animate-loader-small"></div>
                  </ion-col>
                </ion-row>
              </div>
              <ion-grid class="grid" *ngIf="favoriteItem; else saleitem">
                <ion-row>
                  <!-- loop data history -->
                  <ion-col size="4" *ngFor="let item of favoriteItem" (press)="onPress(item.movieId)" (click)="movieDetail([item.title, item.movieId])">
                    <ion-card class="card-body-grid">
                      <img src="{{ item.poster }}" alt="">
                      <span class="movie-info">
                        <ion-card-title class="card-title">{{ item.title }}</ion-card-title>
                      </span>
                    </ion-card>   
                  </ion-col>
                  <!--end loop data -->
                </ion-row>
              </ion-grid>
              <ng-template #saleitem>
                <div>
                  <p style="width: 100%;text-align: center;padding: 10px;">History not Found</p>
                </div>
              </ng-template> 
            </div>
          </ion-content>
        </super-tab>
      </super-tabs-container>
    </super-tabs>
</ion-content>