super-tabs{
  top: 60px;
  position: relative;
  z-index: 12;
}
super-tabs-toolbar{
  height: 32px;
  background-color: #151517;
  color: white;
}
super-tab-button{
  height: 30px;
  color: #aaa;
}
super-tabs-toolbar .active{
  // border-bottom: 2px red solid;
  // z-index: 1;
  // transition: transform 0.5s;
  color: #ffc372;
}

:host :host .buttons-container {
  height: 30px;
}
.tabs {
    // box-shadow: 0px 2px 15px 2px;
    position: relative;
    height: 50%;
    width: 100%;
    top: 50px;
  }
  
  label, #slider {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #AAA;
    width: 33.3%;
    font-size: 12px;
    height: auto;
    padding: 15px 0px;
  }
  
  label:hover {
    color: #ffc372;
    cursor: pointer;
  }
  
  .tabs [type=radio] {
    display: none;   
  }
  
  .content {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0px;
    // background-color: #222225;
    color: #aaa;
    padding: 10px;
    // display: none;
    height: fit-content;
    margin-top: 0;
  }
  
  #slider {
    background-color: transparent;
    position: absolute;
    border-bottom: 2px solid #ffc372;
    margin: 7px 10px;
    transition: transform 0.5s;
    width: 33.3%;
  }
  
  [type=radio],#movie:checked ~ #slider {
    transform: translate(-310%, 0px);
  }
  
  [type=radio],#drama:checked ~ #slider {
    transform: translate(-210%, 0px);
  }
  
  [type=radio],#anime:checked ~ #slider {
    transform: translate(-108%, 0px);
  }
  
  [type=radio]:checked + label {
    color: #ffc372;
  }
  
  [type=radio]:checked + label + .content {
    display: inline-block;
  }

  .custom-bullets {
    --bullet-background: white;
    --bullet-background-active: white;
    
    height: 200px;
    color: white;
  }
  
  .custom-bullets .swiper-pagination-bullets {
    bottom: 50px;
  }
  
  ion-slide:first-child {
    background: blue;
  }
  ion-slide:nth-child(2) {
    background: green;
  }
  ion-slide:nth-child(3) {
    background: red;
  }
  ::ng-deep .action-sheet-style-buttons{
    --color: azure !important;
    background-color: #171719 !important;
  }
  ::ng-deep .action-sheet-style-buttons span{
    margin-right: 15px;
    color: azure;
  }
  ::ng-deep .action-sheet-style-buttons span ion-icon{
    margin-right: 15px !important;
  }