
<ion-content [fullscreen]="true">
  <!-- header -->
  <ion-header [translucent]="true" class="header bg-dark">
    <ion-toolbar>
      <ion-title>Favorite</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- end header -->
  <div>
    <!-- <div class='tabs'>
      <input type='radio' id='movie' name='t' checked>
      <label for='movie'>Movie</label>
      <div class='content'>Movie :
        <div style="margin: 10px -10px 35px;">
          <ion-row>
            <ion-col size="4" *ngFor="let key of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
              <div class="animate-large animate-loader"></div>
              <div class="animate-quality animate-loader-small"></div>
              <div class="animate-rating-duration animate-loader-small"></div>
              <div class="animate-title animate-loader-small"></div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <input type='radio' id='drama' name='t'>
      <label for='drama'>Drama</label>
      <div class='content'>Drama
        <div style="margin: 10px -10px 35px;">
          <ion-row>
            <ion-col size="4" *ngFor="let key of [1,2,3,4,5,6,7,8,9]">
              <div class="animate-large animate-loader"></div>
              <div class="animate-quality animate-loader-small"></div>
              <div class="animate-rating-duration animate-loader-small"></div>
              <div class="animate-title animate-loader-small"></div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <input type='radio' id='anime' name='t'>
      <label for='anime'>Anime</label>
      <div class='content background-second'>Anime
        <div style="margin: 10px -10px 35px;">
          <ion-row>
            <ion-col size="4" *ngFor="let key of [1,2,3,4,5,6,7,8,9]">
              <div class="animate-large animate-loader"></div>
              <div class="animate-quality animate-loader-small"></div>
              <div class="animate-rating-duration animate-loader-small"></div>
              <div class="animate-title animate-loader-small"></div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div id='slider'></div>
    </div> -->

    <div class='tabs'>
      <input type='radio' id='movie' name='t' checked>
      <label for='movie'>Movie</label>
      <input type='radio' id='drama' name='t'>
      <label for='drama'>Drama</label>
      <input type='radio' id='anime' name='t'>
      <label for='anime'>Anime</label>
      <div class='content'>Movie :
        
      </div>
      <div class='content'>Drama
        
      </div>
      <div class='content background-second'>Anime
        
      </div>
      <div id='slider'></div>
    </div>

    <!-- <ion-slides class="custom-bullets" pager>
      <ion-slide>
        Slide 1
      </ion-slide>
      <ion-slide>
        Slide 2
      </ion-slide>
      <ion-slide>
        Slide 3
      </ion-slide>
    </ion-slides> -->
  
  </div>
</ion-content>